@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-host-grotesk);
  --font-satoshi: var(--font-satoshi);
  --color-brand-blue: #132960;
  --color-brand-light-blue: #CDDAE2;
  --color-baby-blue: #7DAFE2;
  --color-sky-blue: #2A88FA;
  --color-another-blue: #2A88FA10;
  --color-brand-teal: #00CDCE;
  --color-brand-beige: #F0ECE1;
  --color-brand-dark-beige: #E8E2D1;
  --color-brand-dark-teal: #0197A2;
  --color-brand-yellow: #FBB74A;
  --color-light-gray: #F1ECE1;
  --color-seafoam: #B2E4DE;
  --color-seafoam-light: #DDEAE2;

}
